@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik+Mono+One&display=swap");
/* #151922 */
:root {
    --bg-color: #151922;
    --text-color: #aeb0b6;
    --header-color: #e2e8f0;
    --line-color: #ffffff;

    --nav-accent-color: #14b8a6;

    --font-family: "Inter", sans-serif;
    --font-weight-bold: 900;
    --font-weight-normal: 400;
    --font-variation-width: 100;
    --font-variation-ytlc: 500;
}

* {
    list-style: none;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-variation-settings: var(--font-variation-ytlc);
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    color: var(--header-color);
}

a {
    color: inherit;
}

p {
    text-wrap: pretty;
}

.container {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 1280px;

    min-height: 100%;
    display: flex;
    gap: 1rem;
}

.aside-container {
    width: 48%;
}

.main-container {
    width: 52%;
}

.sections {
    width: 100%;
    padding-bottom: 6rem;
}

.cursor-ball {
    position: fixed;
    height: 750px;
    width: 750px;
    top: 0;
    left: 0;
    background-color: #0b3086;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.1;
    transform: translate(0, 0);
}

/* aside */

.aside-container h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: 600;
}

.aside-container h2 {
    font-size: 1.5rem;
    margin-block: 5px;
    font-weight: 400;
}

.aside-container aside {
    position: sticky;
    top: 0;
    padding-block: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-container aside nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.resume-link {
    width: fit-content;
}

.aside-nav ul {
    padding: 0;
}

.aside-nav ul a {
    position: relative;
    padding-left: 30px;
    color: inherit;
    transition: 0.2s;
}

.aside-nav ul a::before {
    content: "";
    height: 1px;
    width: 25px;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--line-color);
    transition: 0.2s;
}

.aside-nav ul a.active {
    color: var(--nav-accent-color);
    font-weight: 700;
    padding-left: 4rem;
}

.aside-nav ul a.active::before {
    width: 50px;
    opacity: 1;
}

.social-media ul {
    display: flex;
    gap: 15px;
    padding: 0;
}

.social-media a {
    transition: all 0.4s ease;
    opacity: 0.5;
}

.social-media a:hover {
    opacity: 1;
}
/* main */
.main-container h1 {
    margin: 0;
}

.main-container main {
    padding-block: 6rem;
}

.section-header h2 {
    position: sticky;
    padding-block: 1rem;
    display: none;
}

.main-container p {
    padding-bottom: 1rem;
    margin-top: 0;
}

/* projects */
.projects {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 3rem;
    position: relative;
}

.projects div {
    grid-column: span 6;
}

.projects img {
    grid-column: span 2;
    height: auto;
    width: 90%;
    aspect-ratio: 16 / 9;
    border: 2px solid #575757;
    border-radius: 3px;
}

.projects p {
    font-size: 0.9rem;
}

#arrow-up,
.project h3 {
    transition: all ease-in 0.2s;
}

#arrow-up {
    transform: translate(-2px, 2px);
}

.projects h3 {
    padding-bottom: 1rem;
}

.projects::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(25px);

    left: -1rem;
    right: -1rem;
    top: -1rem;
    bottom: -1rem;

    opacity: 0;
    z-index: -1;
    transition: all 0.4s ease;
}

@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

#marquee {
    display: flex;
    flex-direction: row;
    gap: 25px;

    position: relative;
    overflow: hidden;
    height: 3rem;
}

#marquee > li {
    position: absolute;
    left: -3rem;
    height: 2.5rem;
    width: 2.5rem;
    animation: marquee 5s linear infinite;
}

/* hover */
.projects:hover #arrow-up {
    transform: translate(2px, -2px);
}

.projects:hover h3 {
    color: var(--nav-accent-color);
}

.projects:hover img {
    border: 2px solid #b6b6b6;
}

.projects:hover::before {
    opacity: 1;
}

/* responsiveness */

@media only screen and (max-width: 1100px) {
    .container {
        flex-direction: column;
        padding-inline: 2.5rem;
    }

    .aside-container,
    .main-container {
        width: 100%;
    }

    .sections {
        padding-bottom: 2rem;
    }

    .aside-container aside,
    .main-container main {
        padding-block: 2rem;
    }

    .cursor-ball {
        display: none;
    }

    .aside-nav {
        display: none;
    }

    .section-header h2 {
        display: block;
    }
}

@media only screen and (max-width: 640px) {
    .container {
        padding-inline: 1.5rem;
    }

    .projects {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    .projects img {
        width: 200px;
    }

    .sections,
    .projects h3 {
        padding-bottom: 0.25rem;
    }

    .aside-container h1 {
        font-size: 2.5rem;
    }

    .aside-container aside {
        padding-bottom: 0;
    }
}
